1. Write a Python program to print the numbers from 1 to 10 using a `for` loop.

In [7]:

for i in range(1,11):
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

2. Create a program that calculates the sum of all numbers in a list using a `for` loop.

In [11]:
list=[12,23,4,5,667,88,99,1]
sum=0
for i in list :
    sum=sum+i
print('the sum all numbers in the list is :-',sum)

the sum all numbers in the list is :- 899

3. Write a program to print the characters of a string in reverse order using a `for` loop.

In [30]:
def reverse(string):
    reversed_string=" "
    for i in string:
        reversed_string=i+reversed_string
    print("the reversed string is :",reversed_string)

string=input("enter a string")
print("the string u entered is ",string)
reverse(string)

enter a string sampath

the string u entered is  sampath
the reversed string is : htapmas

4. Develop a program that finds the factorial of a given number using a `for` loop.

In [37]:
def factorial(n):
    factorial=1
    for i in range(n):
        factorial*=i+1
    print("the factorial of is",factorial)
    

n=int(input("enter a number"))
print("u entered number is :",n)
factorial(n)

enter a number 5

u entered number is : 5
the factorial of is 120

5. Create a program to print the multiplication table of a given number using a `for` loop.

In [43]:
d=int(input("enter a number:"))
for i in range(1,21):
    print(n,"*",i,"=",n*i)

enter a number: 4

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
5 * 11 = 55
5 * 12 = 60
5 * 13 = 65
5 * 14 = 70
5 * 15 = 75
5 * 16 = 80
5 * 17 = 85
5 * 18 = 90
5 * 19 = 95
5 * 20 = 100

6.write a program that counts the number of even and odd numbers in a list using for loop.

In [60]:
n=[12,13,45,22,3,2,5,66,77,9,99,1]
total_even=0
total_odd=0
for i in n:
    if i%2==0:
        total_even+=1
    else:
        total_odd+=1
print("the number of total even numbers :",total_even)
print("the number of total oddd numbers: ",total_odd)

the number of total even numbers : 4
the number of total oddd numbers:  8

7. Develop a program that prints the squares of numbers from 1 to 5 using a `for` loop.

In [67]:
n=0
for i in range(1,6):
    n=n+1
    i=i**2
    print("the sqaure of the ",n," is:-",i)

the sqaure of the  1  is:- 1
the sqaure of the  2  is:- 4
the sqaure of the  3  is:- 9
the sqaure of the  4  is:- 16
the sqaure of the  5  is:- 25

8.create a program to find the length of a string without using a 'len()' function

In [78]:
count=0
for i in "pwskills":
    count=count+1
print("the length of the string without using the len() function is:-",count)

the length of the string without using the len() function is:- 8

9.write a program that calculates the average of a list  of numbers using a for loop?

In [84]:
list=[123,345,567,543,234,432,109,110,445]
sum_num=0
for i in list:
    sum_num=sum_num+i
    average=sum_num/len(list)
print("the average is ",average)

the average is  323.1111111111111

10.develop a program that prints the first "n"fibonacci numbers using a for loop?

In [96]:
n=int(input("enter a number"))
a=0
b=1
print(a)
print(b)
for i in range(2,n):
    c=a+b
    a=b
    b=c
    print(c)

enter a number 8

0
1
1
2
3
5
8
13

intermidiate level

11.write a program to check if a given list contains any duplicate usinga forloop

In [11]:
list=[12,3,4,12,4,3,56,67,90,67,90]
for i in range(0,len(list)):
    for j in range(i+1,len(list)):
        if(list[i]==list[j]):
            print("the duplicate found in list are:-",list[j])

the duplicate found in list are:- 12
the duplicate found in list are:- 3
the duplicate found in list are:- 4
the duplicate found in list are:- 67
the duplicate found in list are:- 90

12. Create a program that prints the prime numbers in a given range using a `for` loop.

In [16]:
n=int(input("enter the starting number:"))
m=int(input("enter the maximum number:"))
for i in range(n,m+1):
    count=0
    for j in range(1,i+1):
        if(i%j==0):
            
            count=count+1
    if(count==2):
        print(i,end=" ")

enter the starting number: 0
enter the maximum number: 45

2 3 5 7 11 13 17 19 23 29 31 37 41 43

13.Develop a program that counts the no of vowels in a string using a for loop

In [17]:
d=input("enter a string:")
string=d.lower()
print(string)
count=0
list=["a","e","i","o","u"]
for char in string:
    if char in list:
        count=count+1
print("the no of vowels ina given string",count)

enter a string: geetanjali vidyalaya is the school where i have studied

geetanjali vidyalaya is the school where i have studied
the no of vowels ina given string 21

14. Write a program to find the maximum element in a 2D list using a nested `for` loop.

In [2]:
list=[
[23,34,5,6],
[21,34,56],
[42,77,89],
]
for i in list:
    for j in range(i,i+1):

TypeError: can only concatenate list (not "int") to list

15. Create a program that removes all occurrences of a specific element from a list using a `for` loop.

In [10]:
l1=[12,33,12,55,67,12,33,12,89,96,67]
frequency=l1.count(12)
for value in range(frequency):
    l1.remove(12)
print(l1)
 
'''newl1=[element for element in l1 if element != 12 ]
print(newl1)'''

[33, 55, 67, 33, 89, 96, 67]

16. Develop a program that generates a multiplication table for numbers from 1 to 5 using a nested `for` loop.

In [31]:
d=[1,2,3,4,5]

for i in d:
    
    for j in range(1,11):
        print(i,"*",j,"=",i*j)

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

17. Write a program that converts a list of Fahrenheit temperatures to Celsius using a `for` loop.

In [39]:
fah=[89.5,98,90,90.5,93]
count=0
cel=[]
for f in fah:
    c=(f-32)*5/9
    cel.append(round(c,2))
print(cel)

[31.94, 36.67, 32.22, 32.5, 33.89]

18. Create a program to print the common elements from two lists using a `for` loop.

In [41]:
l1=[12,34,45,67,8,9,10]
l2=[23,12,45,6,81,67]
for i in l1:
    for j in l2:
        if(i==j):
            print(i)

12
45
67

19. Develop a program that prints the pattern of right-angled triangles using a `for` loop. Use ‘*’ to draw the
pattern

In [61]:
n=5
for i in range(n):
    for k in range(i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

20. Write a program to find the greatest common divisor (GCD) of two numbers using a `for` loop.

In [66]:
n1=48
n2=60
gcd=0
for i in range(1,min(n1,n2)):
    if(n1%i==0 and n2%i==0):
        gcd=i
print("the greatest common factor of",n1 ,"and",n2,"is",gcd)

the greatest common factor of 48 and 60 is 12

21. Create a program that calculates the sum of the digits of numbers in a list using a list comprehension.

In [70]:
d=[12,3,4,5,6,7,223,33,444,1]
total=0
m=[total:=total+a for a in d]
print(total)

738

22. Write a program to find the prime factors of a given number using a `for` loop and list comprehension.

23. Develop a program that extracts unique elements from a list and stores them in a new list using a list
comprehension.

In [14]:
h=['red','green','white','black','red','green']
d=[name for name in h if name !='red''green'  ]
d

TypeError: unsupported operand type(s) for &: 'str' and 'str'

In [15]:
# function to get unique values
def unique(list1):

	# initialize a null list
	unique_list = []

	# traverse for all elements
	for x in list1:
		# check if exists in unique_list or not
		if x not in unique_list:
			unique_list.append(x)
	# print list
	for x in unique_list:
		print x,


# driver code
list1 = [10, 20, 10, 30, 40, 40]
print("the unique values from 1st list is")
unique(list1)


list2 = [1, 2, 1, 1, 3, 4, 3, 3, 5]
print("\nthe unique values from 2nd list is")
unique(list2)

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (1078870147.py, line 14)